body {
  font-family: "Montserrat", sans-serif;
  background: white;
}

.sign--in--container {
  display: block;
  max-width: 680px;
  width: 80%;
  margin: 120px auto;
}
h1 {
  color: #e91e63;
  font-size: 48px;
  letter-spacing: -3px;
  text-align: center;
  margin: 120px 0 80px 0;
  transition: 0.2s linear;
}

.links {
  list-style-type: none;
}
.links li {
  display: inline-block;
  margin: 0 20px 0 0;
  transition: 0.2s linear;
}
.links li:nth-child(2) {
  opacity: 0.6;
}
.links li:nth-child(2):hover {
  opacity: 1;
}
.links li:nth-child(3) {
  opacity: 0.6;
  float: right;
}
.links li:nth-child(3):hover {
  opacity: 1;
}
.links li a {
  text-decoration: none;
  color: #0f132a;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

form {
  width: 100%;
  max-width: 680px;
  margin: 40px auto 10px;
}
form .input__block {
  margin: 20px auto;
  display: block;
  position: relative;
}
form .input__block.first-input__block::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50px;
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(15, 19, 42, 0.1);
  transition: 0.2s linear;
}
form .input__block.signup-input__block::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 150px;
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(15, 19, 42, 0.1);
  transition: 0.2s linear;
}
form .input__block input {
  display: block;
  width: 90%;
  max-width: 680px;
  height: 50px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  background: rgba(15, 19, 42, 0.1);
  color: rgba(15, 19, 42, 0.3);
  padding: 0 0 0 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
form .input__block input:focus, form .input__block input:active {
  outline: none;
  border: none;
  color: #0f132a;
}
form .input__block input.repeat__password {
  opacity: 0;
  display: none;
  transition: 0.2s linear;
}
form .signin__btn {
  background: #e91e63;
  color: white;
  display: block;
  width: 92.5%;
  max-width: 680px;
  height: 50px;
  border-radius: 8px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 15px 30px rgba(233, 30, 99, 0.36);
  transition: 0.2s linear;
}
form .signin__btn:hover {
  box-shadow: 0 0 0 rgba(233, 30, 99, 0);
}

.separator {
  display: block;
  margin: 30px auto 10px;
  text-align: center;
  height: 40px;
  position: relative;
  background: transparent;
  color: rgba(15, 19, 42, 0.4);
  font-size: 13px;
  width: 90%;
  max-width: 680px;
}
.separator::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  background: rgba(15, 19, 42, 0.2);
  height: 1px;
  width: 45%;
}
.separator::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  background: rgba(15, 19, 42, 0.2);
  height: 1px;
  width: 45%;
}

#loginBtn {
	width: 70px;
	heigth: 70px;
}
.naverLogin {
  margin: 0px 60px 0px 60px; /* 네이버 로그인 버튼 아래 여백 추가 */
}

.certification__button {
  text-align: right; /* 버튼을 오른쪽으로 정렬합니다. */
  margin-top: 10px; /* 버튼과 입력 폼 사이의 간격을 조정합니다. */
}

.certification__button a {
  font-size: 12px; /* 버튼의 폰트 크기를 조정합니다. */
  color: #06BBCC; /* 버튼의 색상을 설정합니다. */
  text-decoration: none; /* 밑줄을 제거합니다. */
}

.certification__button a:hover {
  color: #005f6b; /* 마우스를 올렸을 때의 버튼 색상을 변경합니다. */
}


