@charset "EUC-KR";
@import
	url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

@import url('https://use.fontawesome.com/releases/v5.6.3/css/solid.css')
	;

@import
	url('https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #001133;
	font-family: 'Prompt', sans-serif;
	-webkit-tap-highlight-color: transparent;
}

main {
	display: flex;
	align-items: center;
	justify-content: center; /* 수정된 부분 */
	width: 100vw;
	height: 100vh;
	flex-direction: column; /* 수정된 부분 */
}

@media ( min-width : 600px) {
	main {
		flex-direction: row; /* 가로 방향으로 정렬 */
	}
}

.ui {
	width: 280px;
	height: 500px;
	padding: 5px 15px;
	border-radius: 4px;
	background: linear-gradient(45deg, #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%
		, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%);
}

.ui-toolbar {
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ui-cover {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.ui-cover-art {
	width: 120px;
}

.ui-cover-title {
	text-align: center;
}

.ui-actions {
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.ui-seekbar {
	height: 10%;
	text-align: center;
}

.ui-seekbar .ui-slider {
	width: 100%;
	height: 6px;
	border-radius: 8px;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	box-shadow: 0 0 3px rgba(0, 0, 0, .6);
	background: #FFF;
}

.ui-seekbar .ui-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #09F;
	cursor: pointer;
}

.ui-controls {
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
/* 추가된 부분 시작 */
.ui-list {
	background-color: #e0e0e0;
	padding: 10px;
	height: 85%;
	overflow-y: auto;
}

.ui-list-item {
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.ui-list-item:last-child {
	border-bottom: none; /* 마지막 아이템의 하단 테두리 제거 */
}

.ui-user {
	background-color: #ffffff;
	height: 5%;
}
.ui-music-btn {
	background-color: #ffffff;
	height: 10%;
}

.container {
	width: 50%;
	height: 500px;
}
#volumeContainer {
    position: relative;
}

#volumeSlider {
    position: absolute;
    top: 0; /* 아이콘 위에 위치 */
    left: 0;
    width: 70px;
    display: none; /* 초기에는 볼륨 슬라이더 숨김 */
}

#volumeContainer:hover #volumeSlider {
    display: inline-block; /* 볼륨 아이콘에 마우스를 가져다 대면 볼륨 슬라이더 표시 */
}
.highlight {
	background-color: yellow;
}
#heart {
	width: 20px;
	height: 20px;
}
.disabled {
	color: #999; /* 회색으로 아이콘 색상 변경 */
	opacity: 0.6;
}
/* 반복 없음 이미지 */
.repeat-none-icon {
	background-image: url('/img/musicPlayer/repeat-all.png');
	opacity: 0.3;
	color: #999; 
	filter: grayscale(100%);
}

/* 한 곡 반복 이미지 */
.repeat-one-icon {
	background-image: url('/img/musicPlayer/repeat-one.png');
	/* 필요에 따라 배경 이미지의 크기, 위치 등을 조정할 수 있습니다. */
}

/* 전체 반복 이미지 */
.repeat-all-icon {
	background-image: url('/img/musicPlayer/repeat-all.png');
	/* 필요에 따라 배경 이미지의 크기, 위치 등을 조정할 수 있습니다. */
}
/* 추가된 부분 끝 */