
#board {
	display: flex;
	flex-direction: column;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

.board-container {
	display: flex;
	flex-direction: column;
}

h2 {
	padding-bottom: 55px;
	font-size: 25px;
	font-weight: bold;
}

#title{
	height: 45px;
}

#formFileMultiple{
	height: 40px;
}
